@font-face {
    font-family: 'ClanOT';
    src: url('../font/ClanOT-Bold.eot');
    src: local('ClanOT-Bold'),
        url('../font/ClanOT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/ClanOT-Bold.woff2') format('woff2'),
        url('../font/ClanOT-Bold.woff') format('woff'),
        url('../font/ClanOT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ClanOT-Book';
    src: url('../font/ClanOT-Book.eot');
    src: local('ClanOT-Book'),
        url('../font/ClanOT-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/ClanOT-Book.woff2') format('woff2'),
        url('../font/ClanOT-Book.woff') format('woff'),
        url('../font/ClanOT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClanOT';
    src: url('../font/ClanOT-Medium.eot');
    src: local('ClanOT-Medium'),
        url('../font/ClanOT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/ClanOT-Medium.woff2') format('woff2'),
        url('../font/ClanOT-Medium.woff') format('woff'),
        url('../font/ClanOT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$darkblue: #552382;
$blue: #00AAFF;
$orange: #BECD00;
$red: #E10019;
$gray: #ccc;

* {
    font-family: 'ClanOT';
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: bottom center;
    color: $darkblue;
}

main {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 170, 255, 0.2);
    padding: 20px;
}

img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

label {
    color: $orange;
    font-size: .8rem;
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
}

small {
    font-size: .8rem;
    
    .error {
        display: inline-block;
        margin-top: 10px;
    }
}

a {
    color: $darkblue;
}

input {
    transition: .5s all;

    &[type=text],
    &[type=password] {
        border: 1px solid $orange;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        font-size: 1rem;
        color: $darkblue;
    }

    &[type=submit] {
     background-color: $blue;
     color: white;
     padding: 20px 40px;
     border: 0;
     border-radius: 40px;
     font-size: 1rem;
     text-transform: uppercase;
     letter-spacing: 1px;
     cursor: pointer;

        &:hover {
            background-color: $darkblue;
        }
    }

    &:focus {
        outline: none;
        border-color: $red;
    }
}

::placeholder {
    color: $gray;
    font-family: 'ClanOT-Book';
}

.d-flex {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.logo {
    width: 30%;
}

.landscape {
    width: 70%;
    padding: 0 20px;
}

.form-footer {
    margin: 20px 0 -50px 0;
}

.error {
    color: $red;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 100%;
        padding: 0 80px 20px 80px;
    }
    .landscape {
        width: 100%;
    }
}