@font-face {
  font-family: 'ClanOT';
  src: url("../font/ClanOT-Bold.eot");
  src: local("ClanOT-Bold"), url("../font/ClanOT-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ClanOT-Bold.woff2") format("woff2"), url("../font/ClanOT-Bold.woff") format("woff"), url("../font/ClanOT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOT-Book';
  src: url("../font/ClanOT-Book.eot");
  src: local("ClanOT-Book"), url("../font/ClanOT-Book.eot?#iefix") format("embedded-opentype"), url("../font/ClanOT-Book.woff2") format("woff2"), url("../font/ClanOT-Book.woff") format("woff"), url("../font/ClanOT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOT';
  src: url("../font/ClanOT-Medium.eot");
  src: local("ClanOT-Medium"), url("../font/ClanOT-Medium.eot?#iefix") format("embedded-opentype"), url("../font/ClanOT-Medium.woff2") format("woff2"), url("../font/ClanOT-Medium.woff") format("woff"), url("../font/ClanOT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'ClanOT';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: bottom center;
  color: #552382;
}

main {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 170, 255, 0.2);
          box-shadow: 0 5px 30px rgba(0, 170, 255, 0.2);
  padding: 20px;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

label {
  color: #BECD00;
  font-size: .8rem;
  display: block;
  width: 100%;
  margin: 20px 0 10px 0;
}

small {
  font-size: .8rem;
}

small .error {
  display: inline-block;
  margin-top: 10px;
}

a {
  color: #552382;
}

input {
  -webkit-transition: .5s all;
  transition: .5s all;
}

input[type=text], input[type=password] {
  border: 1px solid #BECD00;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: 1rem;
  color: #552382;
}

input[type=submit] {
  background-color: #00AAFF;
  color: white;
  padding: 20px 40px;
  border: 0;
  border-radius: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #552382;
}

input:focus {
  outline: none;
  border-color: #E10019;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-family: 'ClanOT-Book';
}

:-ms-input-placeholder {
  color: #ccc;
  font-family: 'ClanOT-Book';
}

::-ms-input-placeholder {
  color: #ccc;
  font-family: 'ClanOT-Book';
}

::placeholder {
  color: #ccc;
  font-family: 'ClanOT-Book';
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 30%;
}

.landscape {
  width: 70%;
  padding: 0 20px;
}

.form-footer {
  margin: 20px 0 -50px 0;
}

.error {
  color: #E10019;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
    padding: 0 80px 20px 80px;
  }
  .landscape {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */